* {
  box-sizing: border-box;
}

.App {
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

header {
  background-color: #020205;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-poster {
  width: 100%;
}

.container {   
  display: flex;
  flex-wrap: wrap; 
}

.item {
  background-color: #020205;
  flex: 1 1 360px;
  position: relative;
} 
/* Images_______________________ */

.cover { 
  width: 100%; 
  max-height: 1000px;
}

.detailImage {
  max-width: 100%; 
}

/* ______________________________*/

.item-overlay {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s;
}

h1 {
  font-family: 'Helvetica Neue';
  color: #c06c84;
  height: 100px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

a {
  color: #bb3939;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.item:hover .item-overlay{
  opacity: 0.8;
}

/* Detail Component */

.detailMovie {
  background-color: white;
  text-align: center;
}

.movieInfo {
  display: flex;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
  padding: 30px
}

.item1 {
  flex: 1;
}

.item2 {
  flex: 1;
  text-align: left;
  padding: 15em 100px
}
