.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

header {
  background-color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-poster {
  width: 100%;
}

.container1, .container2 {   
  display: flex;

}

.item {
  flex: 1;
  position: relative;

} 

img { 
  width: 100%; 
  max-height: 1000px;
}

.item-overlay {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s;
}

h1 {
  color: white;
  font-family: "Helvetica Neue";
  height: 100px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}


.item:hover .item-overlay{
  opacity: 0.8;
}




@media all and (max-width: 600px) {
  .container1, container2 {
    flex-direction: column;
  }
} 
