.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-poster {
  width: 100%;
}

.container1, .container2 {   
  display: flex;

}

.item {
  flex: 1;
  position: relative;

} 

img { 
  width: 100%; 
  max-height: 1000px;
}

.item-overlay {
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
  opacity: 0.8;
  display: none;
}

h1 {
  height: 100px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}


.Titles:hover .item-overlay{background-color: rgb(50, 56, 71); display: block;}




@media all and (max-width: 600px) {
  .container1, container2 {
    flex-direction: column;
  }
} 

/* Grid Attempt */

/* .Titles {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(autofill, minmax(200px, 1fr));
  grid-auto-rows: 250px, 150px;
}

.flex-item {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
} */